@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html, body{
    height: 100%;
}

header {
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;

    a{
        display: flex;
        gap: 4.36px;
        font-size: 19.85px;
        font-weight: 600;
        color: #c92071;
        text-decoration: none;
    }
}

